<div class="content">
    <div>
        <div>
            <h1>
                <%= category.name %>
            </h1>
            <div> <a href="/menu/<%= category.slug %>"><img src="/images/<%= category.image %>" width="434" height="288" alt=""></a> </div>
            <ul>
                <% for (let i = 0; i < items.length; i++) { %>
                    <li class="<%= i === items.length - 1 ? "last" : "" %>">
                        <h2><a href="/menu/<%= category.slug %>/<%= items[i].slug %>">
                                <%= items[i].name %>
                            </a></h2>
                        <p>
                            <%= items[i].description %>
                        </p>
                        <span class="price">$<%= items[i].price %></span>
                    </li>
                    <% } %>
            </ul>
        </div>
    </div>
</div>
<%- include('partials/menu-sidebar.ejs',) %>