<h1><span>blog</span></h1>
		<div>
			<ul>
				<% for (let i = 0; i < items.length; i++) { %>
				<li>
					<a href="/blog/<%=items[i].titleSlug%>" class="figure">
						<img src="images/<%=items[i].imageUrl%>" alt="">
					</a>
					<div>
						<h3><%=items[i].title%></h3>
						<p>
							<%=items[i].summary%>
						</p>
						<a href="/blog/<%=items[i].titleSlug%>" class="more">read this</a>
					</div>
				</li>
				<% } %> 
			</ul>
			<a href="/createblog" class="btn">Create New Post</a>
		</div>